
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-upload:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-user-add:before { content: '\e80b'; } /* '' */
.icon-trash-empty:before { content: '\e80c'; } /* '' */
.icon-pencil-1:before { content: '\e80d'; } /* '' */
.icon-pencil-alt:before { content: '\e80e'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */